@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root{
    --lightarancione: #f2cc8f;
    --lightarancionehover: #f2cc8fda;
    --darkarancione: #f4a261;
    --red: #e07b5fc5;
    --redhover: #e07b5fa6;
    --white: rgba(255, 255, 255, 0.849);
    --whitelesswhite: rgba(255, 255, 255, 0.644);
    --grey: #242424f5;
    --black: #242424;
    --blue: #86A3B8;
    --bluemenoblue: #86a3b8af;
    --yellow: #E8D2A6;
    --yellowmenoyellow: #e8d2a6d3;
    --yellowmenoyellowhover: #e8d2a6a3;
}
.title-paragraph{
    font-weight: 500;
    font-family: 'Prata';
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--grey);
    color: var(--white);
    /*
    background: rgb(242,204,143);
    background: linear-gradient(90deg, rgba(242,204,143,1) 7%, rgba(244,162,97,1) 100%);
    */
}
nav{
    width: 100%;
    /*position: fixed;*/
    background-color: var(--grey);
    color: var(--white);
    font-family: 'Prata';
    font-size: 1.5rem;
    font-weight: 200;
    padding: 1rem;
    padding-left: 2rem;
}
nav a{
    text-decoration: none;
    color: var(--white);
}
nav a:hover{
    color: var(--whitelesswhite);
}
section{
    padding-top: 6rem;
}
footer{
    margin-top: 4rem;
    background-color: var(--blue);
    padding: 7.5rem;
    width: 100%;
}
footer p {
    color: #0000005c;
}
footer p a{
    text-decoration: none;
    font-family: 'Prata';
    font-size: 1.5rem;
    font-weight: 200;
    color: #00000092;
}
footer p a:hover{
    color: black;
}
.hero {
    height: 91vh;
    background-image: url(media/sfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.titolocalcolo{
    margin-top: -4rem;
    padding: 2rem;
    width: 100%;
    text-align: center;
}
.card_film{
    box-shadow: rgba(0, 0, 0, 0.534) 0px 4px 12px;
    background-color: var(--black);
    border-radius: 12px;
    text-align: center;
    color: var(--white);
}
.card_film img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
}
.card_film p{
    font-weight: 200;
    margin-bottom: -0.0005rem;
    margin-top: 1rem;
}
.card_film-body{
    opacity: 1;
    padding: 2rem;
}
.card_film-body i{
    color: var(--lightarancione);
}
.card_film h2{
    font-family: 'Prata';
    font-size: 1.5rem;
    font-weight: 200;
}
.card_film h3{
    font-size: 1rem;
    font-weight: 300;
}
.card_film h4{
    margin-top: 1rem;
    font-family: 'Prata', sans-serif;
    /*color: rgba(0, 0, 0, 0.696);*/
    color: var(--whitelesswhite);
    font-weight: 200;
    font-size: 0.9rem;
}
.card_film h5{
    font-size: 0.95rem;
    font-weight: 200;
    margin-top: 0.75rem;
    color: var(--whitelesswhite);
}
.card_film .trattino{
    margin-top: -0.3rem;
    margin-bottom: -0.6rem;
}
.valuta{
    font-size: 0.9rem;
    color: var(--whitelesswhite);
}
.card_film button, .card_film button:disabled{
    font-weight: 300;
    border: none;
    background: transparent;
    background-color: var(--red);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.card_film button:hover:enabled{
    background: var(--redhover);
    color: var(--white);
}
.card_film input{
    font-family: "Prata", sans-serif;
    margin-top: 0.8rem;
    border: none;
    background: transparent;
    text-align: center;
    margin-right: -0.89rem;
    color: var(--yellow);
}
.salvato_cliccato{
    background-color: var(--yellowmenoyellow) !important;
    color: var(--white) !important;
}
.submitbutton{
    box-shadow: rgba(0, 0, 0, 0.534) 0px 4px 12px;
    margin-top: 4rem;
    font-weight: 300;
    border: none;
    background: transparent;
    background-color: var(--yellowmenoyellow) !important;
    border-radius: 12px;
    width: 30rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.submitbutton:hover:enabled{
    box-shadow: rgba(0, 0, 0, 0.221) 0px 4px 12px;
    background-color: var(--yellowmenoyellowhover) !important;
    color: var(--white);
}
.Xbutton{
    width: 100% !important;
    border-radius: 0 !important;
    background-color: var(--yellowmenoyellowhover) !important;
    border-bottom: 1px solid var(--black) !important;
}
.Xbutton:hover{
    background-color: var(--yellowmenoyellow) !important;
    color: black !important;
}
.Xbuttonclicked{
    box-shadow: rgba(0, 0, 0, 0.534) 0px 4px 12px;
    background-color: var(--yellowmenoyellow) !important;
}
.Xbuttonclicked:hover{
    box-shadow: rgba(0, 0, 0, 0.221) 0px 4px 12px;
    background-color: var(--yellowmenoyellowhover) !important;
    border-bottom: 1px solid var(--black) !important;
}
#explainability{
    padding-top: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    display: none;
}
