@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root{
    --lightarancione: #f2cc8f;
    --darkarancione: #f4a261;
    --red: #e07a5f;
    --redhover: #e07b5fa6;
    --white: rgba(255, 255, 255, 0.849);
    --whitelesswhite: rgba(255, 255, 255, 0.644);
    --grey: #49505796;
    --black: #434242;
    --blue: #86A3B8;
    --bluemenoblue: #86a3b8af;
    --yellow: #E8D2A6;
}
.title-paragraph{
    font-weight: 500;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--yellow);
    /*
    background: rgb(242,204,143);
    background: linear-gradient(90deg, rgba(242,204,143,1) 7%, rgba(244,162,97,1) 100%);
    */
}
nav{
    width: 100%;
    position: fixed;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Prata';
    font-size: 1.5rem;
    font-weight: 200;
    padding: 1rem;
    padding-left: 2rem;
}
nav a{
    text-decoration: none;
    color: var(--white);
}
nav a:hover{
    color: var(--whitelesswhite);
}
section{
    padding-top: 6rem;
}
footer{
    background-color: var(--blue);
    padding: 7.5rem;
    width: 100%;
}
footer p {
    color: #00000092;
}
footer p a{
    text-decoration: none;
    font-family: 'Prata';
    font-size: 1.5rem;
    font-weight: 200;
    color: #00000092;
}
footer p a:hover{
    color: black;
}
.titolopagina{
    width: 100%;
    padding: 8rem;
    text-align: center;
}
.titolopagina p{
    color: var(--black);
    font-weight: 300;
}
.titolocalcolo{
    width: 100%;
    padding: 2rem;
    text-align: center;
}
.card_film{
    background-color: var(--white);
    border-radius: 12px;
    text-align: center;
}
.card_film img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
}
.card_film p{
    font-weight: 200;
    margin-bottom: -0.0005rem;
    margin-top: 1rem;
}
.card_film-body{
    opacity: 1;
    padding: 2rem;
}
.card_film-body i{
    color: var(--lightarancione);
}
.card_film h2{
    font-family: 'Prata';
    font-size: 1.5rem;
    font-weight: 200;
}
.card_film h3{
    font-size: 1rem;
    font-weight: 300;
}
.card_film .card_film-body h4{
    margin-top: 1rem;
    font-family: 'Prata', sans-serif;
    color: rgba(0, 0, 0, 0.696);
    font-weight: 200;
    font-size: 0.9rem;
}
.card_film .trattino{
    margin-top: -0.3rem;
    margin-bottom: -0.6rem;
}
.card_film button, .card_film button:disabled{
    font-weight: 300;
    border: none;
    background: transparent;
    background-color: var(--red);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.card_film button:hover:enabled{
    background: var(--redhover);
    color: var(--white);
}
.card_film input{
    font-family: "Prata", sans-serif;
    margin-top: 0.8rem;
    border: none;
    background: transparent;
    text-align: center;
    margin-right: -0.89rem;
}
.salvato_cliccato{
    background-color: var(--bluemenoblue) !important;
    color: var(--white) !important;
}
.submitbutton{
    margin-top: 2rem;
    font-weight: 300;
    border: none;
    background: transparent;
    background-color: var(--red) !important;
    border-radius: 12px;
    width: 30rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.submitbutton:hover:enabled{
    background-color: var(--redhover) !important;
    color: var(--white);
}
